<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guc.mylibrary">
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityContacts"
            android:label="@string/label_contacts" />
        <activity
            android:name=".activity.ActivityExpandableListView"
            android:label="@string/label_expandable_listview" />
        <activity
            android:name=".activity.ActivityPickerViewTest"
            android:label="@string/pickerview_submit" />
        <activity android:name=".activity.ActivitySpinnerTest" />
        <activity
            android:name=".activity.ActivityDialog"
            android:theme="@style/AppTheme.AppCompat.Dialog.Alert" />
        <activity android:name=".activity.ActivityVideoRecord" />
        <activity android:name=".activity.ActivityCameraIdentify" />
        <!-- 数据共享 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>